In [ ]:
#import necessary modules
import pandas as pd
import statistics
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
#read csv file as a dataframe
df = pd.read_csv("Fortune50.csv")
df.head(50)

In [ ]:
df['Zodiac'].value_counts()

As we can see, Capricon, Leo, and Pisces are the most common, each occuring 6 times with Sagittarius appearing the least amount at only one time.

In [ ]:
df['Zodiac'].describe()

In [ ]:
df['Zodiac'].mode()

In [ ]:
#clean data - fix typo: replace "Sagitarius" with "Sagittarius"

In [ ]:
data = pd.read_csv('Fortune50.csv')

#dataframe for each zodiac sign
data_aries = data[(data['Zodiac'] == "Aries")]
data_taurus = data[data['Zodiac'] == "Taurus"]
data_gemini = data[data['Zodiac'] == "Gemini"]
data_cancer = data[data['Zodiac'] == "Cancer"]
data_leo = data[data['Zodiac'] == "Leo"]
data_virgo = data[data['Zodiac'] == "Virgo"]
data_libra = data[data['Zodiac'] == "Libra"]
data_scorpio = data[data['Zodiac'] == "Scorpio"]
data_sagittarius = data[data['Zodiac'] == "Sagittarius"]
data_capricorn = data[data['Zodiac'] == "Capricorn"]
data_aquarius = data[data['Zodiac'] == "Aquarius"]
data_pisces = data[data['Zodiac'] == "Pisces"]

In [ ]:
#How many of each zodiac sign
df['Zodiac'].value_counts()

In [ ]:
#Piechart showing breakdown of each sign
df['Zodiac'].value_counts().plot(kind='pie', figsize=(6,6))

In [ ]:
#Percentage calculation of each zodiac sign

In [ ]:
#convert scientific notation

In [99]:
#total networth calculations for each zodiac sign
total_networth = data_aries['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Aries networth total: {}' .format(total_networth))

average_networth = data_aries['Networth'].mean()
average_networth = "{:,}".format(average_networth)
print('Aries average networth: {}' .format(average_networth))

total_networth = data_taurus['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Taurus networth total: {}' .format(total_networth))

total_networth = data_gemini['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Gemini networth total: {}' .format(total_networth))

total_networth = data_cancer['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Caner networth total: {}' .format(total_networth))

total_networth = data_leo['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Leo networth total: {}' .format(total_networth))

total_networth = data_virgo['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Virgo networth total: {}' .format(total_networth))

total_networth = data_libra['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Libra networth total: {}' .format(total_networth))

total_networth = data_scorpio['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Scorpio networth total: {}' .format(total_networth))

total_networth = data_sagittarius['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Sagittarius networth total: {}' .format(total_networth))

total_networth = data_capricorn['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Capricorn networth total: {}' .format(total_networth))

total_networth = data_aquarius['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Aquarius networth total: {}' .format(total_networth))

total_networth = data_pisces['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Pisces networth total: {}' .format(total_networth))

Aries networth total: 145,900,000
Aries average networth: 48,633,333.333333336
Taurus networth total: 59,219,800,000
Gemini networth total: 117,130,000
Caner networth total: 3,151,000,000
Leo networth total: 1,022,250,000
Virgo networth total: 93,051,200,000
Libra networth total: 218,880,000
Scorpio networth total: 2,025,740,000
Sagittarius networth total: 0
Capricorn networth total: 745,400,000
Aquarius networth total: 185,520,000
Pisces networth total: 1,860,051,000

In [ ]:
#Bar chart of each Zodiac sign's networth
sns.barplot(x=df['Zodiac'],y=df['Networth'])

In [ ]:
#finding mean, median, and total nethworth of all CEOs
median_networth = df['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Networth median: ${}' .format(median_networth))

avg_networth = df['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Networth average: ${}' .format(avg_networth))

total_networth = df['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Networth total: ${}' .format(total_networth))

In [ ]:
#dataframes for each Element
data_air = data[data['Element'] == "Air"] 
data_water = data[data['Element'] == "Water"]
data_fire = data[data['Element'] == "Fire"]
data_earth = data[data['Element'] == "Earth"]

In [ ]:
#dataframe of all air zodiac signs
df[df['Element'].str.contains('Air')]

In [ ]:
#mean,median, and total nethworth of air signs
avg_networth = data_air['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Networth average: ${}' .format(avg_networth))

median_networth = data_air['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Networth median: ${}' .format(median_networth))

total_networth = data_air['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Networth total: ${}' .format(total_networth))

In [ ]:
df[df['Element'].str.contains('Water')]

In [ ]:
#mean,median, and total nethworth of water signs
avg_networth = data_water['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Networth average: ${}' .format(avg_networth))

median_networth = data_water['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Networth median: ${}' .format(median_networth))

total_networth = data_water['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Networth total: ${}' .format(total_networth))

In [ ]:
df[df['Element'].str.contains('Fire')]

In [ ]:
#mean,median, and total nethworth of fire signs
avg_networth = data_fire['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Networth average: ${}' .format(avg_networth))

median_networth = data_fire['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Networth median: ${}' .format(median_networth))

total_networth = data_fire['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Networth total: ${}' .format(total_networth))

In [ ]:
df[df['Element'].str.contains('Earth')]

In [ ]:
#mean,median, and total nethworth of earth signs
avg_networth = data_earth['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Networth average: ${}' .format(avg_networth))

median_networth = data_earth['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Networth median: ${}' .format(median_networth))

total_networth = data_earth['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Networth total: ${}' .format(total_networth))

In [ ]:
#Bar chart of each Element's networth
sns.barplot(x=df['Element'],y=df['Networth'])

In [ ]:
#Which Element is most common
df['Element'].value_counts()

In [ ]:
#Break down of water signs by Zodiac name to see which occurs most often
data_water['Zodiac'].value_counts()

This is interesting because even though Capricorn is the most occuring Zodiac sign (it's element is Earth) and yet the most often occuring element is Water.
The most occurring water sign is Pisces.

In [ ]:
#piechart of each element type
df['Element'].value_counts().plot(kind='pie', figsize=(4,4))

In [ ]:
#Breakdown detailing each type of industry
df['Industry'].value_counts()