In [ ]:
#import necessary modules
import pandas as pd
import statistics
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

List of Fortune 50 companies with company name, company type, CEO's name and their zodiac sign along with their networth; The CEO's networth, not the company's

In [ ]:
#read csv file as a dataframe
df = pd.read_csv("Fortune50.csv")
df.head(50)

In [ ]:
#clean data - fix typo: replace "Sagitarius" with "Sagittarius" - found on line 31
df['Zodiac'] = df['Zodiac'].str.replace('Sagitarius', 'Sagittarius')

In [ ]:
#quick overview of the dataframe
df['Zodiac'].describe()

In [ ]:
#shows how many times each sign occurs within the dataset
df['Zodiac'].value_counts()

There are 12 unique zodiac signs, and each appears at least once in this dataset.

In [ ]:
#shows which signs zodiac sign(s) occur most often
df['Zodiac'].mode()

As we can see, Capricon, Leo, and Pisces are the three most common, each occuring 6 times with Sagittarius appearing the least amount at only one time.

In [ ]:
#finding percentage of Capricorns, the most occuring sign
total_capricorns = 6
total_ceos = 50
percent_capricorn = total_capricorns / total_ceos
print("Capricorns make up ", (format(percent_capricorn, '.1%'))) #convert float to percent

With Capricorn, Leo, and Pisces each occuring 6 times, in total they account for just over one-third of all 50 CEOs, at 36%

In [ ]:
#Piechart showing breakdown of each sign
df['Zodiac'].value_counts().plot(kind='pie', figsize=(8,8))

In [ ]:
data = pd.read_csv('Fortune50.csv')

#dataframe for each zodiac sign
data_aries = data[(data['Zodiac'] == "Aries")]
data_taurus = data[data['Zodiac'] == "Taurus"]
data_gemini = data[data['Zodiac'] == "Gemini"]
data_cancer = data[data['Zodiac'] == "Cancer"]
data_leo = data[data['Zodiac'] == "Leo"]
data_virgo = data[data['Zodiac'] == "Virgo"]
data_libra = data[data['Zodiac'] == "Libra"]
data_scorpio = data[data['Zodiac'] == "Scorpio"]
data_sagittarius = data[data['Zodiac'] == "Sagittarius"]
data_capricorn = data[data['Zodiac'] == "Capricorn"]
data_aquarius = data[data['Zodiac'] == "Aquarius"]
data_pisces = data[data['Zodiac'] == "Pisces"]

In [ ]:
#convert scientific notation

In [ ]:
#total networth calculations for each zodiac sign
total_networth = data_aries['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Aries networth total: ${}' .format(total_networth))

average_networth = data_aries['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Aries average networth: ${}' .format(average_networth))

median_networth = data_aries['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Aries median networth: ${}' .format(median_networth))

total_networth = data_taurus['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Taurus networth total: {}' .format(total_networth))

average_networth = data_taurus['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Taurus average networth: ${}' .format(average_networth))

median_networth = data_taurus['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Taurus median networth: ${}' .format(median_networth))

total_networth = data_gemini['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Gemini networth total: {}' .format(total_networth))

average_networth = data_gemini['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Gemini average networth: ${}' .format(average_networth))

median_networth = data_gemini['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Gemini median networth: ${}' .format(median_networth))

total_networth = data_cancer['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Cancer networth total: {}' .format(total_networth))

average_networth = data_cancer['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Cancer average networth: ${}' .format(average_networth))

median_networth = data_cancer['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Cancer median networth: ${}' .format(median_networth))

total_networth = data_leo['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Leo networth total: {}' .format(total_networth))

average_networth = data_leo['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Leo average networth: ${}' .format(average_networth))

median_networth = data_leo['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Leo median networth: ${}' .format(median_networth))

total_networth = data_virgo['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Virgo networth total: {}' .format(total_networth))

average_networth = data_virgo['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Virgo average networth: ${}' .format(average_networth))

median_networth = data_virgo['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Virgo median networth: ${}' .format(median_networth))

total_networth = data_libra['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Libra networth total: {}' .format(total_networth))

average_networth = data_libra['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Libra average networth: ${}' .format(average_networth))

median_networth = data_libra['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Libra median networth: ${}' .format(median_networth))

total_networth = data_scorpio['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Scorpio networth total: {}' .format(total_networth))

average_networth = data_scorpio['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Scorpio average networth: ${}' .format(average_networth))

median_networth = data_scorpio['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Scorpio median networth: ${}' .format(median_networth))

total_networth = data_sagittarius['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Sagittarius networth total: {}' .format(total_networth))

average_networth = data_sagittarius['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Sagittarius average networth: ${}' .format(average_networth))

median_networth = data_sagittarius['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Sagittarius median networth: ${}' .format(median_networth))

total_networth = data_capricorn['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Capricorn networth total: {}' .format(total_networth))

average_networth = data_capricorn['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Capricorn average networth: ${}' .format(average_networth))

median_networth = data_capricorn['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Capricorn median networth: ${}' .format(median_networth))

total_networth = data_aquarius['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Aquarius networth total: {}' .format(total_networth))

average_networth = data_aquarius['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Aquarius average networth: ${}' .format(average_networth))

median_networth = data_aquarius['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Aquarius median networth: ${}' .format(median_networth))

total_networth = data_pisces['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Pisces networth total: {}' .format(total_networth))

average_networth = data_pisces['Networth'].mean()
average_networth = "{:,}".format(average_networth) #adds commas to int
print('Pisces average networth: ${}' .format(average_networth))

median_networth = data_pisces['Networth'].median()
median_networth = "{:,}".format(median_networth) #adds commas to int
print('Pisces median networth: ${}' .format(median_networth))

In [ ]:
#Bar chart of each Zodiac sign's networth
sns.barplot(x=df['Networth'],y=df['Zodiac'])

In [ ]:
#finding median, average, total, max, and min nethworth of all CEOs
median_networth = df['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Networth median: ${}' .format(median_networth))

avg_networth = df['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Networth average: ${}' .format(avg_networth))

total_networth = df['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Networth total: ${}' .format(total_networth))

max_networth = df['Networth'].max()
max_networth = "{:,}".format(max_networth)
print('Highest networth is: ${}' .format(max_networth)) #adds commas to int

min_networth = df['Networth'].min()
min_networth = "{:,}".format(min_networth)
print('Lowest networth is: ${}' .format(min_networth)) #adds commas to int

This next section breaks down CEO zodiac signs by element

In [ ]:
#dataframes for each Element
data_air = data[data['Element'] == "Air"] 
data_water = data[data['Element'] == "Water"]
data_fire = data[data['Element'] == "Fire"]
data_earth = data[data['Element'] == "Earth"]

In [ ]:
#dataframe of all air zodiac signs
df[df['Element'].str.contains('Air')]

In [ ]:
#mean,median, and total nethworth of air signs
avg_networth = data_air['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Average networth for Air signs: ${}' .format(avg_networth))

median_networth = data_air['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Median networth for Air signs: ${}' .format(median_networth))

min_networth = data_air['Networth'].min()
min_networth = "{:,}".format(min_networth)  #adds commas to int
print('Lowest networth for Air signs: ${}' .format(min_networth))

max_networth = data_air['Networth'].max()
max_networth = "{:,}".format(max_networth)  #adds commas to int
print('Median networth for Air signs: ${}' .format(max_networth))

total_networth = data_air['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Total networth for Air signs: ${}' .format(total_networth))

In [ ]:
#dataframe of all water signs
df[df['Element'].str.contains('Water')]

In [ ]:
#mean,median, and total nethworth of water signs
avg_networth = data_water['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Average networth for water signs: ${}' .format(avg_networth))

median_networth = data_water['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Median networth for water signs: ${}' .format(median_networth))

min_networth = data_water['Networth'].min()
min_networth = "{:,}".format(min_networth)  #adds commas to int
print('Lowest networth for water signs: ${}' .format(min_networth))

max_networth = data_water['Networth'].max()
max_networth = "{:,}".format(max_networth)  #adds commas to int
print('Highest networth for water signs: ${}' .format(max_networth))

total_networth = data_water['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Total networth for water signs: ${}' .format(total_networth))

In [ ]:
#dataframe for all fire signs
df[df['Element'].str.contains('Fire')]

In [ ]:
#mean,median, and total nethworth of fire signs
avg_networth = data_fire['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Average networth for fire signs: ${}' .format(avg_networth))

median_networth = data_fire['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Median networth of fire signs: ${}' .format(median_networth))

min_networth = data_fire['Networth'].min()
min_networth = "{:,}".format(min_networth)  #adds commas to int
print('Lowest networth of fire signs: ${}' .format(min_networth))

max_networth = data_fire['Networth'].max()
max_networth = "{:,}".format(max_networth)  #adds commas to int
print('Highest networth of fire signs: ${}' .format(max_networth))

total_networth = data_fire['Networth'].sum()
total_networth = "{:,}".format(total_networth)  #adds commas to int
print('Toal networth of fire signs: ${}' .format(total_networth))

In [ ]:
#dataframe for all earth signs
df[df['Element'].str.contains('Earth')]

In [106]:
#mean,median, and total nethworth of earth signs
avg_networth = data_earth['Networth'].mean()
avg_networth = "{:,}".format(avg_networth)  #adds commas to int
print('Average networth for earth signs: ${}' .format(avg_networth))

median_networth = data_earth['Networth'].median()
median_networth = "{:,}".format(median_networth)  #adds commas to int
print('Median networth of earth signs: ${}' .format(median_networth))

min_networth = data_earth['Networth'].min()
min_networth = "{:,}".format(min_networth)  #adds commas to int
print('Lowest networth of earth signs: ${}' .format(min_networth))

(max_networth) = data_earth['Networth'].max()
max_networth = "{:,}".format(max_networth)  #adds commas to int
print('Highest networth of earth signs: ${}' .format(max_networth))

earth_total_networth = data_earth['Networth'].sum()
earth_total_networth = "{:,}".format(earth_total_networth)  #adds commas to int
print('Total networth of earth signs: ${}' .format(earth_total_networth))

Average networth for earth signs: $11,770,492,307.692308
Median networth of earth signs: $60,000,000.0
Lowest networth of earth signs: $7,000,000
Highest networth of earth signs: $93,037,000,000
Total networth of earth signs: $153,016,400,000

In [105]:
#calculating the range or variance of networth between the 4 groups
range = (data_air['Networth'].max()) - (data_air['Networth'].min())
range = "{:,}".format(range)
print("The networth range for Air sign's is: ${}" .format(range))

range = (data_water['Networth'].max()) - (data_water['Networth'].min())
range = "{:,}".format(range)
print("The networth range for Water sign's is: ${}" .format(range))

range = (data_fire['Networth'].max()) - (data_fire['Networth'].min())
range = "{:,}".format(range)
print("The networth range for Fire sign's is: ${}" .format(range))

range = (data_earth['Networth'].max()) - (data_earth['Networth'].min())
range = "{:,}".format(range)
print("The networth range for Earth sign's is: ${}" .format(range))

The networth range for Air sign's is: $95,270,000
The networth range for Water sign's is: $1,507,000,000
The networth range for Fire sign's is: $804,750,000
The networth range for Earth sign's is: $93,030,000,000

In [ ]:
#Bar chart of each Element's networth
sns.barplot(x=df['Element'],y=df['Networth'])

In [ ]:
#Which Element is most common
df['Element'].value_counts()

In [ ]:
#Break down of water signs by Zodiac name to see which occurs most often
data_water['Zodiac'].value_counts()

This is interesting because even though Capricorn is the most occuring Zodiac sign (it's element is Earth) and yet the most often occuring element is Water.
The most occurring water sign is Pisces.

In [ ]:
#piechart of each element type
df['Element'].value_counts().plot(kind='pie', figsize=(4,4))

In [ ]:
#Breakdown detailing each type of industry
df['Industry'].value_counts()